## Perkenalan

```
=======================================================================================================================================
Milestone 2 (Phase 1)

Nama  : Achmed Alridho Zulkarnaen
Batch : RMT-037

File ipynb ini berisikan inference testing untuk model classification yang sudah di buat untuk memprediksi churn.
=======================================================================================================================================
```

## Import Library

In [1]:
import pickle
import json
import pandas as pd
import numpy as np

## Load Model

In [2]:
with open('best_dt_model.pkl', 'rb') as file_1:
  model = pickle.load(file_1)

## Membuat df Dari Data Baru

In [3]:
df_inf = pd.DataFrame({
    'RowNumber': [1, 2, 3],
    'CustomerId': [15634602, 15628320, 15628321],
    'Surname': ['Hargrave', 'Walker', 'Alridho'],
    'CreditScore': [619, 792, np.nan],
    'Geography': ['France', 'France', 'Germany'],
    'Gender': ['Female', 'Female', 'Male'],
    'Age': [42, 28, 24],
    'Tenure': [2, 4, np.nan],
    'Balance': [0, 130142.790, 150000],
    'NumOfProducts': [1, 1, 2],
    'HasCrCard': [1, 1, 0],
    'IsActiveMember': [1, 0, 0],
    'EstimatedSalary': [101348.880, 38190.780, np.nan]
})
df_inf

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,1,15634602,Hargrave,619.0,France,Female,42,2.0,0.00,1,1,1,101348.88
1,2,15628320,Walker,792.0,France,Female,28,4.0,130142.79,1,1,0,38190.78
2,3,15628321,Alridho,NaN,Germany,Male,24,NaN,150000.00,2,0,0,NaN

In [5]:
# Melakukan prediksi
y_pred_inf = model.predict(df_inf)

# Mengubah hasil prediksi menjadi label
predicted_labels = ['Churn' if pred == 1 else 'Not Churn' for pred in y_pred_inf]

# Menampilkan hasil prediksi
df_inf['Prediction'] = predicted_labels
print(df_inf[['CustomerId', 'Surname', 'Prediction']])

   CustomerId   Surname Prediction
0    15634602  Hargrave      Churn
1    15628320    Walker  Not Churn
2    15628321   Alridho  Not Churn